@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    src: $font-src;
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin button-reset {
  padding: 0;

  background-color: transparent;
  border: none;
  text-decoration: none;
}

@mixin button-style {
  @include button-reset;

  padding: 10px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: $button-primary-text-color;
  text-align: center;
  text-transform: uppercase;

  background-color: $button-primary-bg-color;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: $button-primary-bg-color-interactive;
  }

  &:active {
    color: rgba($button-primary-text-color, 0.3);
    background-color: $button-primary-bg-color-interactive;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin title-reset {
  margin: 0;

  font-weight: 400;
}

@mixin background-decor {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -2;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: rgba($accent-main-color, 0.85);
  }
}
