@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    src: $font-src;
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin button-reset {
  padding: 0;

  background-color: transparent;
  border: none;
  text-decoration: none;
}

@mixin button-style {
  @include button-reset;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: $button-primary-text-color;
  text-transform: uppercase;

  background-color: $button-primary-bg-color;
  cursor: pointer;
}
