.catalog-more__title {
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.catalog-more__text {
  font-size: 12px;
  line-height: 16px;
}
