.catalog-more {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 25px;

  background-repeat: no-repeat;
  background-position: top 25px center;
  background-size: 30px 30px;
  background-image: url("../../icons/stack.svg#plus");

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog-more__title {
  @include title-reset;

  padding-top: 53px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.catalog-more__text {
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
}

.catalog-more__button {
  color: $button-secondary-text-color;

  background-color: $button-secondary-bg-color;
}
