.cooperation--catalog {
  background-color: $section-bg-dark-color;
}

.cooperation__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 15px;
  padding-top: 26px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding: 60px 40px;
  }
}

.cooperation__text {
  margin: 0;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 165px;
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 160px;
    text-align: end;
  }
}

.cooperation__map {
  display: block;
  margin: 0 auto;
}
