.cooperation--catalog {
  background-color: $section-bg-dark-color;
}

.cooperation__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding-top: 26px;
  padding-bottom: 20px;
}

.cooperation__text {
  margin: 0;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.cooperation__address {
  line-height: 20px;
  font-style: normal;
}

.cooperation__map {
  display: block;
  margin: 0 auto;
}
