.example {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: $section-bg-dark-color;
}

.example__text {
  margin-bottom: 20px;
}

.example__result-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  margin-bottom: 20px;
}

.example__item {
  position: relative;
  width: calc((100% - 32px) / 2);
}

.example__item--money {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  width: 100%;;
  min-height: auto;
  padding: 0;
}

.example__number {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  min-height: 70px;
  padding-top: 14px;
  padding-bottom: 17px;

  font-family: $accent-font;
  font-size: 24px;
  line-height: 24px;
  color: $text-title-color;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
}

.example__item--money .example__number {
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;

  border: none;
}

.example__description {
  z-index: 1;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;

  width: 77px;
  margin: 0 auto;

  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: $section-bg-dark-color;
}

.example__item--money .example__description {
  position: static;

  align-self: center;
  width: auto;
  margin: 0;

  font-family: $accent-font;
  font-size: 14px;
  line-height: 20px;
  color: $text-title-color;
  text-transform: uppercase;
  white-space: nowrap;
}
