.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 14px;
  padding-bottom: 14px;

  font-family: $accent-font;
  font-size: 20px;
  line-height: 20px;
  color: $text-nav-color;
  text-transform: uppercase;
}

.header__menu-toggle {
  @include button-reset;

  width: 24px;
  height: 24px;

  background-color: #000000;
}

.header__nav {
  display: none;
}

.header__menu-toggle:hover + .header__nav {
  z-index: 1;
  top: 66px;
}

.header__logo .logo__name {
  width: 101px;
  height: 18px;
}
