.header--index {
  @media (min-width: $desktop) {
    position: relative;
    background: linear-gradient(to right, $section-bg-light-color 49%, $accent-main-color 49%);
  }
}

.header--index::before {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    width: 720px;
    height: 694px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../images/decor/hero-bg@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/decor/hero-bg@2x.jpg");
    }
  }
}

.header--index::after {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;

    width: 720px;
    height: 694px;

    background: linear-gradient(to right, $accent-main-color 20%, rgba($accent-main-color, 0.85) 92%, $accent-main-color 99%);
  }
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;

  font-family: $accent-font;
  font-size: 20px;
  line-height: 20px;
  color: $text-nav-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 25px;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    padding-bottom: 29px;

    font-size: 20px;
    line-height: 30px;
  }
}

.header--index .header__container {
  @media (min-width: $desktop) {
    color: $text-main-light-color;
  }
}

.header__logo {
  @media (min-width: $tablet) {
    min-width: 175px;
  }
}

.header__logo .logo__name {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop) {
    width: 118px;
    height: 21px;
  }
}

.header__menu-toggle {
  @include button-reset;

  position: relative;

  width: 24px;
  height: 24px;
  padding: 4px 0;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__nav {
  display: none;

  &--shown {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;

    background-color: $section-bg-light-color;
  }

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    max-width: 600px;
    z-index: 3;
  }
}

.line {
  position: absolute;
  left: 0;

  display: block;
  width: 24px;
  height: 2px;

  background-color: $text-nav-color;

  transition: transform 0.3s ease-in-out;
}

.line--1 {
  top: 4px;
}

.line--2 {
  top: 50%;
  transform: translateY(-50%);
}

.line--3 {
  bottom: 4px;
}

.header__menu-toggle--active .line--1 {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.header__menu-toggle--active .line--2 {
  opacity: 0;
}

.header__menu-toggle--active .line--3 {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%) rotate(-45deg);
}
