.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 302px;

    background: linear-gradient(90deg, #4f4e54 calc(50vw - 160px), #454449 calc(50vw - 160px));

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 302px;

    background-color: rgba($accent-main-color, 0.85);

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    background: linear-gradient(to right, $section-bg-light-color 49%, $accent-main-color 49%);
  }
}

.hero__container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -2;

    width: 320px;
    height: 302px;

    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../../images/decor/hero-bg-mobile@1x.jpg");

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    align-items: start;
    min-height: 850px;
    padding-left: 109px;
  }

  @media (min-width: $desktop) {
    min-height: 545px;
    padding-left: 92px;
  }
}

.hero__title {
  @include title-reset;

  padding-top: 27px;
  margin-bottom: 25px;

  color: $text-main-light-color;
  text-align: center;

  @media (min-width: $tablet) {
    max-width: 416px;
    padding-top: 38px;
    margin-bottom: 40px;

    color: $text-title-color;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-top: 75px;
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 29px;

  font-family: $accent-font;
  line-height: 14px;
  color: $text-main-light-color;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    max-width: 416px;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
    color: $text-title-color;
  }
}

.hero__img {
  @media (min-width: $tablet) {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: -1;

    @media (min-width: $desktop) {
      right: 0;
      bottom: 55px;
      left: 460px;
      z-index: 2;
    }
  }
}

.hero__link {
  @include button-style;

  min-width: 100%;

  @media (min-width: $tablet) {
    min-width: 244px;
    max-width: 416px;
    padding: 14px;

    font-size: 20px;
    line-height: 26px;
  }
}
