.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  transition: opacity 0.3s ease-in-out;

  &--header {
    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.logo__img {
  margin-right: 56px;

  @media (min-width: $tablet) {
    margin-right: 13px;
  }
}

.logo__name--footer g {
  transition: fill 0.3s ease-in-out;
}

.logo:hover .logo__name--footer g,
.logo:focus-visible .logo__name--footer g {
  fill: #3e3e3e;
}

.logo:active .logo__name--footer g {
  fill: #666666;
}
