.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  transition: opacity 0.3s ease-in-out;

  &--header {
    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.logo__img {
  margin-right: 56px;

  @media (min-width: $tablet) {
    margin-right: 13px;
  }
}

.logo__name--header {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop) {
    width: 118px;
    height: 21px;
  }
}

.logo__name--footer {
  width: 128px;
  height: 24px;
}

.logo__svg {
  transition: fill 0.3s ease-in-out;
}

.logo:hover .logo__svg,
.logo:focus-visible .logo__svg {
  fill: #3e3e3e;
}

.logo:active .logo__svg {
  fill: #666666;
}
