.other-products__title {
  font-family: $accent-font;
  font-size: 24px;
  line-height: 24px;
  color: $text-title-color;
  text-transform: uppercase;
}

.other-products__gift {
  font-size: 16px;
  line-height: 20px;
  color: $text-main-light-color;
}
