.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img content" "button button";
  row-gap: 17px;

  padding-top: 20px;
  padding-bottom: 25px;

  border-top: 1px solid #ebebeb;
}

.product-card__img {
  grid-area: img;
  place-self: center;
}

.product-card__content {
  grid-area: content;
}

.product-card__title {
  @include title-reset;

  max-width: 100px;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 20px;
  color: $text-accent-color;
  text-transform: uppercase;
}

.product-card__link {
  text-decoration: none;
}

.product-card__characteristics {
  @include list-reset;
}

.product-card__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  font-size: 12px;
  line-height: 16px;
}

.product-card__description {
  margin: 0;
}

.product-card__button {
  grid-area: button;
  text-align: center;
}
