.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img content" "button button";
  row-gap: 17px;
  min-height: 209px;
  padding-top: 22px;
  padding-bottom: 25px;

  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "img" "content" "button";
    row-gap: 0;
    padding: 10px 37px 40px;
    min-height: 511px;

    background-color: $section-bg-dark-color;

    border-top: none;
  }
}

.product-card__img {
  grid-area: img;
  place-self: center;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 210px;
    margin-bottom: 20px;
  }
}

.product-card__content {
  grid-area: content;
}

.product-card__title {
  @include title-reset;

  max-width: 80px;
  margin-bottom: 14px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 135px;
    text-align: center;
    margin: 0 auto 15px;

    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__characteristics {
  @include list-reset;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.product-card__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 16px;
    line-height: 20px;

    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__description {
  margin: 0;
}

.product-card__button {
  grid-area: button;
}
