.program {
  position: relative;

  width: 100%;
  padding: 20px;

  background-color: #f2f2f2;

  &::before {
    position: absolute;
    content: "";

    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet) {
    padding: 77px 63px 53px 52px;
  }
}

.program--weight-down::before {
  top: 21px;
  left: 20px;
  width: 50px;
  height: 53px;

  background-image: url("../../icons/stack.svg#weight-down");

  @media (min-width: $tablet) {
    top: 81px;
    left: 445px;
    width: 200px;
    height: 211px;
  }
}

.program--weight-up::before {
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;

  background-image: url("../../icons/stack.svg#weight-up");

  @media (min-width: $tablet) {
    top: 91px;
    left: 411px;
    width: 268px;
    height: 200px;
  }
}

.program__title {
  @include title-reset;

  padding-top: 10px;
  padding-left: 70px;
  margin-bottom: 29px;

  font-family: $accent-font;
  font-size: 24px;
  line-height: 37px;
  color: $text-title-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 350px;
    padding: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }
}

.program__text {
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    max-width: 340px;
    margin-bottom: 25px;
    border-bottom: none;
  }
}

.program__link {
  position: relative;

  display: flex;
  align-items: center;
  width: 134px;

  font-family: $accent-font;
  font-size: 16px;
  line-height: 16px;
  color: $text-nav-color;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    right: 0;

    width: 32px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("../../icons/stack.svg#arrow");
  }
}
