.section__title {
  @include title-reset;

  margin-bottom: 40px;

  font-family: $accent-font;
  font-size: 36px;
  line-height: 40px;
  color: $text-title-color;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.section__title--catalog {
  font-size: 24px;
  line-height: 24px;
}
