.slider {
  position: relative;
}

.slider__slide--before {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: $section-bg-dark-color;
}

.slider__slide--after {
  position: relative;
  background-color: $section-bg-dark-color;
}

.slider__slide img {
  max-width: none;
}

.slider__control {
  @include button-reset;

  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #666666;
}

.slider__control::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -18px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100vh;
  margin: auto 0;
}

.slider__control::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -18px;
  width: 40px;
  height: 40px;
  background-color: #666666;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../../icons/stack.svg#slider-button");
  margin: auto 0;
}
