.socials {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;
  transition: opacity 0.3 ease-in-out;

  &:active {
    opacity: 0.3;
  }
}

.socials-link svg path {
  transition: fill 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    fill: $accent-main-color;
  }
}
