.subscribe {
  @include section-head-decor;

  padding-bottom: 43px;

  @media (min-width: $tablet) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 103px;
  }
}

.subscribe__title {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.subscribe__content {
  @media (min-width: $tablet) {
    padding-left: 40px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 21px;
    max-width: 632px;

    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    max-width: 100%;
  }
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;

  @media (min-width: $tablet) {
    grid-template-columns: 3fr 2fr;
    gap: 0;
    max-width: 632px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 15fr 8fr;
    max-width: 770px;
    margin: 0 auto;
  }
}

.subscribe__input {
  padding: 13px;

  font-family: $accent-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  transition: border 0.3s ease-in-out;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    border: 2px solid #444444;
  }
}

.input-error {
  border: 2px solid #ff8282;
}

.subscribe__button {
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet) {
    height: auto;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    max-width: 250px;
  }
}
